.App {
    text-align: center;
}

.img {
    width: 150px;
}

.listMovie {
    display: flex;
    justify-content: space-around;
}

.movieCard {
    border: 1px solid black;
    background-color: #FFF5D8;
    padding: 20px;
}

.mov {
    padding-top: 20px;
}

.input:focus {
    background: #eaeaea;
}

.input {
    width: 800px;
    margin: 50px;
    border-radius: 6px;
}

.rating {
    border: 1px solid black;
    width: 100px;
    margin-left: 630px;
    margin-bottom: 30px;
    background-color: red;
    border-radius: 10px;
}